@model IEnumerable<IkapatigiCapstone.Models.Tag>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="records" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TagName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TagName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TagId"> 
                    <i class="fa fa-pencil" style="color:blue"></i>
                </a> 
         
                <a asp-action="Delete" asp-route-id="@item.TagId"
                   onclick='return confirm("Are you sure?");'>
                    <i class="fa fa-trash" style="color:red"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script> 
        $(document).ready(function () {
            $('#records').DataTable();
        });
    </script>
}