@model IEnumerable<IkapatigiCapstone.Models.Tag>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<br />
<div class="titlecontainer">
    <div class="text-center">

        <h1 class="display-4">Tags</h1>
    </div>
</div>
<br />

<div class="bgtable">


    <p>
        <a asp-action="Create"><i class="fa-solid fa-circle-plus"> Create New</i></a>
    </p>

    <br />
<table id="records" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TagName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TagName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TagId">
                    <span class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-pencil" style="color:blue"></i>
                    </span>
                </a> 
         
                <a asp-action="Delete" asp-route-id="@item.TagId"
                   onclick='return confirm("Are you sure?");'>
                    <span class="btn btn-sm btn-outline-danger">
                        <i class="fa fa-trash" style="color:red"></i>
                    </span>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script> 
        $(document).ready(function () {
            $('#records').DataTable();
        });
    </script>
}