@*@model IEnumerable<IkapatigiCapstone.Models.PlantDiseaseImageView>*@

@model IEnumerable<IkapatigiCapstone.Models.PlantDisease>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<br />
<div class="titlecontainer">
    <div class="text-center">

        <h1 class="display-4">Plant Diseases</h1>
    </div>
</div>
<br />

<div class="bgtable">


    <p>
        <a asp-action="Create"><i class="fa-solid fa-circle-plus"> Create New</i></a>
    </p>

    <br />
<table id="records" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiseaseName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ImageOfDisease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CureId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Images)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="ViewImage" asp-controller="Diagnostic" asp-route-id="@item.PlantDiseaseId">
                    @Html.DisplayFor(modelItem =>item.DiseaseName)
                </a>
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ImageOfDisease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CureId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag.TagName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Images)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlantDiseaseId">
                    <i class="fa fa-pencil" style="color:blue"></i>
                </a> 
         
                 <a asp-action="Delete" asp-route-id="@item.PlantDiseaseId"
                   onclick='return confirm("Are you sure?");'>
                    <i class="fa fa-trash" style="color:red"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script> 
        $(document).ready(function () {
            $('#records').DataTable();
        });
    </script>
}