@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http
@model IkapatigiCapstone.Models.PostViewModel

<div class="titlecontainer">
    <div>

        <h1 class="display-4">@Html.DisplayFor(model=>model._Forum.Title)</h1><br />
        <h3>@Html.DisplayFor(model=>model._Forum.Description)</h3>
       
    </div>
</div>
<div class="bgtable">
    <p>
        <a asp-action="CreatePost"><i class="fa-solid fa-circle-plus"> Create New Post</i></a>
        @*<a asp-controller="Forum" asp-action="CreatePost" id="btnSubmit" name="btnSubmit" value="@Model._Forum.ForumId" >Create New</a>*@
        <br />
        <a asp-action="Index" asp-controller="Forum">Back to List</a>
        <br />
    </p>
    <table id="records" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(Model => Model.Posts)
                </th>
                <th>
                    Created On
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Posts)
            {
                <tr>
                    <td>
                        <a asp-action="ViewReplies" asp-controller="Forum" asp-route-id="@item.PostId">
                            <details>
                                <summary>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </summary>
                                <p>
                                    @Html.DisplayFor(modelItem => item.Content)
                                </p>
                            </details>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />
@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script> 
        $(document).ready(function () {
            $('#records').DataTable();
        });
    </script>

}
