@model IkapatigiCapstone.Models.Diagnostic

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<div class="bgtable">
    <div>
        <h4>Diagnostic</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Cure)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.PlantDisease)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Status)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Tag)
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Cure.CureName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PlantDisease.DiseaseName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Status.StatusType)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Tag.TagName)
                    </td>
                </tr>
            </tbody>
        </table>
        <dl class="row">
            <dt class = "col-sm-2">
                
            </dt>
            <dd class = "col-sm-2">
                
            </dd>
            <dt class = "col-sm-2">
            </dt>
            <dd class = "col-sm-2">
                
            </dd>
            <dt class = "col-sm-2">
                
            </dt>
            <dd class = "col-sm-2">
                
            </dd>
            <dt class = "col-sm-2">
                
            </dt>
            <dd class = "col-sm-2">
                
            </dd>
        </dl>
    </div>
    
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
