@model IkapatigiCapstone.Models.DiagnosticDetailModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="titlecontainer">
    <div class="text-center">

        <h1 class="display-4">Details</h1>
    </div>
</div>
<br />
<div class="bgtable">
    <div>
        <h4>Diagnostic</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.cure)
            </dt>
            <dd class="col-sm-2">
                @Html.DisplayFor(model => model.cure.CureName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.disease)
            </dt>
            <dd class="col-sm-2">
                @Html.DisplayFor(model => model.disease.DiseaseName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.tag)
            </dt>
            <dd class="col-sm-2">
                @Html.DisplayFor(model => model.tag.TagName)
            </dd>
        </dl>
    </div>

</div>
<div>
    <a asp-action="NonMemberIndex">Back to List</a>
</div>
